<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>GET/POST 연결 테스트</h1>
    <button id="get_button">GET</button>
    <button id="post_button">POST</button>


    <script>
    const get_button = document.getElementById("get_button") /*버튼 가져옴*/
    get_button.addEventListener("click", async function fetch_get
    {
    fetch_get(){
    const response = await fetch("http://127.0.0.1:10000/go_get") /*go_get 만든사람!*/
    const convert_response= response.json() /*json으로 바꾸는것임*/
    console.log(convert_response)    
    }
    })    
    

    const post_button = document.getElementById("post_button") /*버튼 가져옴*/
    post_button.addEventListener("click", async function fetch_get
    {
    fetch_get(){
    const response = await fetch("http://127.0.0.1:10000/post_get") /*go_get 만든사람!*/
    const convert_response= response.json() /*json으로 바꾸는것임*/
    console.log(convert_response)    
    }
    })    

    </script>


</body>
</html>